 /* palitra */
:root {
    --background-body: #F5F5F5;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --site-nav-link: #212121;
    --accent-color: #2196F3;
    --logo-color: #000;
    --logo-web: #2196F3;
    --logo-studio: #FFF;
    --bussiness-solutions-text-color: #fff;
    --button-order-text-color: #FFF;
    --button-order-bg-color: #2196F3;
    --button-text-color: #212121;
    --button-accent-text-color: #FFF;
    --button-primary-bg-color: #F5F4FA;
    --button-accent-bg-color: #2196F3;
    --footer-contact-geo: #FFF; 
    --footer-contact-mail-tel: rgba(255, 255, 255, 0.6);   
    /* уменьшить количество цветов */
}

body {
    background-color: var(--background-body) ;
    font-family: "Roboto", sans-serif;
    font-size: 14px; /* удалить ниже в стилях */
    letter-spacing: 0.03em; /* удалить ниже в стилях */
    color: var(--primary-text-color);
}
.list {
    list-style: none;
}
 /* --- logo --- */
.logo {
    color: var(--logo-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-web {
    color: var(--logo-web);
}
.logo-studio {
    color: var(--logo-studio);
}
 /* --- header --- */
.site-nav .link {
    color: var(--site-nav-link);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contact-header .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-header .link:hover,
.contact-header .link:focus {
    color: var(--accent-color);
}
/* --- main  --- */
.solutions {
    background-color: #2F303A;
}
.bussiness-solutions {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bussiness-solutions-text-color);
}

.buton-order {
    color: var(--button-order-text-color);
    background-color: var(--button-order-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    font-family: inherit;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }
.advantage-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.advantage-list .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.works .works-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team .team-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team .team-person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team .text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* --- footer ---*/
.footer {
    background-color: #2F303A;
}

.adress-list .adress-geo {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--footer-contact-geo);
}
.adress-list .adress-mail, .adress-list .adress-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--footer-contact-mail-tel);
}

/* css page "portfolio" */
.button {
    color: var(--button-text-color);
    background-color: var(--button-primary-bg-color);
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.button:hover, .button:focus {
    color: var(--button-accent-text-color);
    background-color: var(--button-accent-bg-color);
}

.portfolio .link{
    text-decoration: none;
}
.portfolio .portfolio-title {
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.portfolio .portfolio-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}